<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qs.mapper.user.custom.UserCustomMapper">

	<select id="getGroupSalarys" resultType="float" parameterType="java.util.List">
		select sum(remark2)  from user WHERE username IN 
        <foreach collection="list" item="saleusername" separator="," open="("
            close=")">
            #{saleusername}
        </foreach>
	</select>

</mapper>